.post.summary {
  margin-bottom: 40px;
}
.post.summary .title {
  position:relative;
}
.post.summary .title a {
  color: inherit;
}
.post.summary .date {
  font-size: smaller;
  margin-top: -15px;
}
.post.summary .content {
  margin: 20px 0px;
}
.post.summary .controls .tag_box {
  font-size: smaller;
}
.post.summary .controls .more {
  margin-top: 8px;
  text-align: left;
}

