.post.summary {
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.post.summary:last-child {
  border-bottom: none;
}
.post.summary .title {
  position:relative;
}
.post.summary .title a {
  color: inherit;
}
.post.summary .content {
  margin: 20px 0px;
}
.post.summary .controls {
  clear:both;
  padding-bottom: 10px;
}
.post.summary .controls .tag_box {
  font-size: smaller;
}
.post.summary .controls .more {
  margin: 8px 0px 8px 0px;
  text-align: left;
  font-size: larger;
}

