body {
  padding-bottom: 10px;
}

li {
  line-height: 25px;
}

ul,ol {
  margin-bottom: 25px;
}

blockquote p {
  font-size: 14pt;
}

hr {
  clear: both;
  height: 1px;
  border-width: 0;
  color: #ddd;
  background-color: #ddd
}

.page-header {
  border-bottom: none;
}

.container {
  background-color: white;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo .brand {
  color: inherit;
  font-size: 65px;
}
.logo .brand a {
  color: inherit;
}
.logo .tagline {
  margin: 20px 0px;
  font-size: 25px;
}

.nav.nav-tabs a {
  color: inherit;
  font-size: large;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover{
  cursor: pointer;
}

.text {
  font-family: Book Antiqua, serif;
  line-height: 30px;
  font-size: 14pt;
  text-align: justify;
}

.text .content h1,h2,h3,h4,h5,h6{
  margin:30px 0px 20px 0px;
}


/* post-full*/
.post-full .content {
  margin: 30px 0px;
}


/* tag_box */
.tag_box {
  clear:both;
  list-style:none;
  margin:0;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box li i {
  opacity:0.9;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#555;
  border-radius: 3px;
  text-decoration:none;
  border:1px dashed #ccc;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a:hover {
  background-color:#e5e5e5;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

.sidebar .tag_box li {
  line-height: 28px;
  font-size: inherit;
}

.sidebar .sidebar-widget {
  margin-bottom: 40px;
}

.sidebar li {
  line-height: 15px;
  font-size: small;
}

.sidebar .searchbox input.query {
  width: 130px;
}

.sidebar img.face {
  float: right;
  width: 78px;
  height: auto;
  margin: 0px 2px 0px 2px;
}

.sidebar img.speaker-badge {
  width: 150px;
  height: auto;
  margin: 0px 2px 20px 10px;
}

.sidebar .heading a {
  color: inherit;
}

.sidebar .about {
  font-size: 12px;
  line-height: 14px;
}

.sidebar .rss {
  margin: -25px 0px 40px 0px;
}
.sidebar .rss .rss-icon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 5px 10px 0px 0px;
}
.sidebar .rss .rss-icon img {
  width: 32px;
  height: 32px;
}
.sidebar .rss .rss-links {
  float: left;
  width: auto;
}
.sidebar .rss .rss-links a {
  color: inherit;
}

.footer .copyright {
  text-align: left;
  float: left;
  width: 250px;
}
.footer .powered_by {
  text-align: right;
  float: right;
  width: 250px;
}
